---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero   from '../components/Hero.astro';
import Soluciones from '../components/Soluciones.astro';
import Equipos    from '../components/Equipos.astro';
import Servicios  from '../components/Servicios.astro';
import Proyectos   from '../components/Proyecto.astro';
---

<Layout title="Zenit Solar | Energía Limpia para tu Futuro">
    <Navbar />
    <main>
        <Hero />
        <Soluciones />
        <Equipos /> 
        <Servicios />
        <Proyectos />
    </main>
</Layout>