---
import Layout      from '../layouts/Layout.astro';
import Navbar      from '../components/Navbar.astro';
import Contacto    from '../components/Contacto.astro';
import Footer      from '../components/Footer.astro';
---

<Layout title="Zenit Solar | Energía Limpia para tu Futuro">
    <Navbar />
    <main>
        <Contacto  />
        <Footer    />
    </main>
</Layout>